@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
	font-family: 'Nunito', sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	max-width: 200px;
}

button {
	margin: 5px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s ease;
	width: clamp(100px, 100%, 200px);
}

button:hover, button:active {
	background-color: #ccc;
}